<div>
<%= render "owner_header" %>
<div class='main'>

  
  <%# サイトからのお知らせ表示 %>
  <div class='info-contents'>
    <h2 class='title'>
      サイトからのお知らせ
    </h2>
    <div>
    <ul class='info-lists'>
      <li class='info'>
        <%= link_to  do %>
          <p>○月○日・・・トップページをリニューアルしました</p>
        <% end %>
      </li>
      <li class='info'>
        <%= link_to  do %>
          <p>○月○日・・・不具合を修正しました</p>
        <% end %>
      </li>
      <li class='info'>
        <%= link_to  do %>
          <p>○月○日・・・SNS活用セミナー申し込み受付中</p>
        <% end %>
      </li>
      <li class='info'>
        <%= link_to  do %>
          <p>○月○日・・・TVCMのお知らせ</p>
        <% end %>
      </li>
    </ul>
    </div>
  </div>
  <%# サイトからのお知らせ表示 %>

<div id="js-tab">
<ul class="tab-menu" >
  <li class="tab-menu__item"><span class="tab-trigger is-active" data-id="tab01">予約管理</span>
    <ul class="tab-menu-detail" id="tab01">
        <li class="second-menu " data-menu="1" unko-id="10">スケジュール確認</li>
        <li class="second-menu " data-menu="2"unko-id="10">定休日選択</li>
    </ul>
  </li>

  <li class="tab-menu__item"><span class="tab-trigger " data-id="tab02">メニュー作成</span>
    <ul class="tab-menu-detail" id="tab02">
        <li class="second-menu is-active" data-menu="3">新規メニュー作成</li>
        <li class="second-menu " data-menu="4">既存メニュー編集・削除</li>
    </ul>
  </li>

  <li class="tab-menu__item"><span class="tab-trigger " data-id="tab03">クーポン作成</span>
    <ul class="tab-menu-detail" id="tab03">
        <li class="second-menu  " data-menu="5">新規クーポン作成</li>
        <li class="second-menu  " data-menu="6">既存クーポン編集・削除</li>
    </ul>
  </li>

  <li class="tab-menu__item"><span class="tab-trigger " data-id="tab04">レビュー確認</span>
    <ul class="tab-menu-detail" id="tab04">
        <li class="second-menu  " data-menu="7">現在のレビュー</li>
        <li class="second-menu  " data-menu="8">コメント返信</li>
    </ul>
  </li>
</ul>
<!-- .tab-menu -->

<!-- .2段目めにゅ -->


<!-- .メニュー内容 -->
<div class="tab-content">
  <div class="tab-content__item  " unko-menu="1" >
    <p class="tab-content__item" >タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。タブ1のコンテンツが入ります。</p>
  </div><!-- .tab-content__item -->
  <div class="tab-content__item " unko-menu="2">
    <p>タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。タブ2のコンテンツが入ります。</p>
  </div><!-- .tab-content__item -->
  <div class="tab-content__item " id="tab03">
    <p>タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。</p>
  </div><!-- .tab-content__item -->
  <div class="tab-content__item " id="tab04">
    <p>タブ4のコンテンツが入ります。タブ4のコンテンツが入ります。タブ4のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。タブ3のコンテンツが入ります。</p>
  </div><!-- .tab-content__item -->
</div><!-- .tab-content -->
<%# /Footer前 %>
</div>
<%= render partial: "callender"%>
 <div>  
  <%= render "owner_footer" %>
 </div>
  </div>
 </div>

</div>

