<div>
<%= render "owner_header" %>
<div class='main'>

  
  <%# サイトからのお知らせ表示 %>
  <div class='info-contents'>
    <h2 class='title'>
      サイトからのお知らせ
    </h2>
    <div>
    <ul class='info-lists'>
      <li class='info'>
        <%= link_to  do %>
          <p>○月○日・・・トップページをリニューアルしました</p>
        <% end %>
      </li>
      <li class='info'>
        <%= link_to  do %>
          <p>○月○日・・・不具合を修正しました</p>
        <% end %>
      </li>
      <li class='info'>
        <%= link_to  do %>
          <p>○月○日・・・SNS活用セミナー申し込み受付中</p>
        <% end %>
      </li>
      <li class='info'>
        <%= link_to  do %>
          <p>○月○日・・・TVCMのお知らせ</p>
        <% end %>
      </li>
    </ul>
    </div>
  </div>
  <%# サイトからのお知らせ表示 %>

  <%# おすすめ美容室 %>
<div class='select-reason-contents'>
    <h2 class='title'>
      カットが評判の美容室
    </h2>
    <div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("hair2.jpg", class:"list-pict link-item hair"), "#" %>
        <span class='reason-list-number'>美容室</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "eyelash.jpg", class:"list-pict link-item eyelash"),"#" %>
        <span class='reason-list-number'>マツエク</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "nail.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>ネイル</span>
      </li>
      <li class='list'>
        <%= link_to image_tag( "est.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>エステ</span>
        
      </li>
    </ul>
    </div>
  </div>
  <%# おすすめ美容室 %>

  <%# おすすめアイラッシュ %>
<div class='select-reason-contents'>
    <h2 class='title'>
      デザインが人気のネイルサロン
    </h2>
    <div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("hair2.jpg", class:"list-pict link-item hair"), "#" %>
        <span class='reason-list-number'>美容室</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "eyelash.jpg", class:"list-pict link-item eyelash"),"#" %>
        <span class='reason-list-number'>マツエク</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "nail.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>ネイル</span>
      </li>
      <li class='list'>
        <%= link_to image_tag( "est.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>エステ</span>
        
      </li>
    </ul>
    </div>
  </div>
  <%# おすすめアイラッシュ %>

    <%# おすすめネイル %>
<div class='select-reason-contents'>
    <h2 class='title'>
      マツエクが評判のマツエクサロン
    </h2>
    <div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("hair2.jpg", class:"list-pict link-item hair"), "#" %>
        <span class='reason-list-number'>美容室</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "eyelash.jpg", class:"list-pict link-item eyelash"),"#" %>
        <span class='reason-list-number'>マツエク</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "nail.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>ネイル</span>
      </li>
      <li class='list'>
        <%= link_to image_tag( "est.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>エステ</span>
        
      </li>
    </ul>
    </div>
  </div>
  <%# おすすめネイル %>

    <%# おすすめエステ %>
<div class='select-reason-contents'>
    <h2 class='title'>
      マッサージが評判のエステサロン
    </h2>
    <div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("hair2.jpg", class:"list-pict link-item hair"), "#" %>
        <span class='reason-list-number'>美容室</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "eyelash.jpg", class:"list-pict link-item eyelash"),"#" %>
        <span class='reason-list-number'>マツエク</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "nail.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>ネイル</span>
      </li>
      <li class='list'>
        <%= link_to image_tag( "est.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>エステ</span>
        
      </li>
    </ul>
    </div>
  </div>
  <%# おすすめエステ %>
  <%# Footer前 %>
  <section class="trico-last-content">
   <div class="container-inner">
    <h2 class="container-heading-center">掲載をご希望のサロンオーナー様へ</h2>
    <div class="container-content">
      <p class="description">「trico（トリコ）」は美容師・ネイリスト・アイデザイナーなど、プライベートサロン限定の集客アプリです。</p>
      <a href="＃" class="more-button">詳しく見る</a>
    </div>
   </div>
  </section>
  <%# /Footer前 %>

 <div>  
  <%= render "owner_footer" %>
 </div>
  </div>
 </div>

</div>

