<footer class="mt-auto user-footer">
<div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>tricoについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'trico利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>サロンを探す</h2>
      <ul>
        <li><%= link_to '美容室', "#", class: "footer-link" %></li>
        <li><%= link_to 'ネイルサロン', "#", class: "footer-link" %></li>
        <li><%= link_to 'マツエクサロン', "#", class: "footer-link" %></li>
        <li><%= link_to 'エステサロン', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>tricoについて</h2>
      <ul>
        <li><%= link_to 'サロンオーナー様', "#", class: "footer-link" %></li>
        <li><%= link_to 'サロンオーナー様ログイン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
    <p>©️ made by りょう </p>
</footer>