<div>
<%= render "user_header" %>
<div class='main'>

  <%# 画面上部の「非日常をあなたに」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      非日常をあなたに
    </h2>
    <p class='service-explain'>
      tricoは誰でも上質な体験をさせてくれる
    </p>
    <p class='service-explain'>
      プライベートサロンだけを集めたアプリです
    </p>
   <%# <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
    <%#  <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    <%#</div>%>
  </div>
  <%# /画面上部の「非日常をあなたに」帯部分  %>

  <%# 予約選択 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      美容室・各種サロンを予約する
    </h2>
    <div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("hair2.jpg", class:"list-pict link-item hair",id:"hair"), "#" %>
        <span class='reason-list-number'>美容室</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "eyelash.jpg", class:"list-pict link-item eyelash"),"#" %>
        <span class='reason-list-number'>マツエク</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "nail.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>ネイル</span>
      </li>
      <li class='list'>
        <%= link_to image_tag( "est.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>エステ</span>
        
      </li>
    </ul>
    </div>
  </div>
  <%# 予約選択 %>

  <%# おすすめ美容室 %>
<div class='select-reason-contents'>
    <h2 class='title'>
      カットが評判の美容室
    </h2>
    <div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("hair2.jpg", class:"list-pict link-item hair"), "#" %>
        <span class='reason-list-number'>美容室</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "eyelash.jpg", class:"list-pict link-item eyelash"),"#" %>
        <span class='reason-list-number'>マツエク</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "nail.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>ネイル</span>
      </li>
      <li class='list'>
        <%= link_to image_tag( "est.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>エステ</span>
        
      </li>
    </ul>
    </div>
  </div>
  <%# おすすめ美容室 %>

  <%# おすすめアイラッシュ %>
<div class='select-reason-contents'>
    <h2 class='title'>
      デザインが人気のネイルサロン
    </h2>
    <div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("hair2.jpg", class:"list-pict link-item hair"), "#" %>
        <span class='reason-list-number'>美容室</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "eyelash.jpg", class:"list-pict link-item eyelash"),"#" %>
        <span class='reason-list-number'>マツエク</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "nail.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>ネイル</span>
      </li>
      <li class='list'>
        <%= link_to image_tag( "est.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>エステ</span>
        
      </li>
    </ul>
    </div>
  </div>
  <%# おすすめアイラッシュ %>

    <%# おすすめネイル %>
<div class='select-reason-contents'>
    <h2 class='title'>
      マツエクが評判のマツエクサロン
    </h2>
    <div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("hair2.jpg", class:"list-pict link-item hair"), "#" %>
        <span class='reason-list-number'>美容室</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "eyelash.jpg", class:"list-pict link-item eyelash"),"#" %>
        <span class='reason-list-number'>マツエク</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "nail.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>ネイル</span>
      </li>
      <li class='list'>
        <%= link_to image_tag( "est.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>エステ</span>
        
      </li>
    </ul>
    </div>
  </div>
  <%# おすすめネイル %>

    <%# おすすめエステ %>
<div class='select-reason-contents'>
    <h2 class='title'>
      マッサージが評判のエステサロン
    </h2>
    <div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to image_tag("hair2.jpg", class:"list-pict link-item hair"), "#" %>
        <span class='reason-list-number'>美容室</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "eyelash.jpg", class:"list-pict link-item eyelash"),"#" %>
        <span class='reason-list-number'>マツエク</span>
        
      </li>
      <li class='list'>
        <%= link_to image_tag( "nail.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>ネイル</span>
      </li>
      <li class='list'>
        <%= link_to image_tag( "est.jpg", class:"list-pict linl-item nail"),"#" %>
        <span class='reason-list-number'>エステ</span>
        
      </li>
    </ul>
    </div>
  </div>
  <%# おすすめエステ %>
  <%# サイトの特徴 %>
  <%# <div class="container-inner">
      <h2 class="container-heading">tricoの3つの特徴</h2>
      <div class="container-content">
        <ul class="trico-features">
          <li class="feature-item1">
           <%# <img class="feature-item-img" src="/img/point-1.png" width="232" height="104" alt="サロンスタッフを直接予約">%>
        <%#     <h3 class="feature-item-heading">プライベートサロンのみ</h3>
            <p class="feature-item-description">人が多いサロンは避けたい・お子さんがいると気を遣うなど、悩みを気にしなくてもあなただけのプライベート空間です！</p>
          </li>
          <li class="feature-item2">
           <%# <img class="feature-item-img" src="/img/point-2.png" width="232" height="104" alt="口コミが見られる">%>
         <%#    <h3 class="feature-item-heading">口コミが見られる</h3>
            <p class="feature-item-description">施術してほしいサロンの口コミを事前に確認できるので安心です。</p>
          </li>
          <li class="feature-item3">
           <%# <img class="feature-item-img" src="/img/point-3.png" width="232" height="104" alt="サロンスタッフとやりとり">%>
          <%#   <h3 class="feature-item-heading">サロンスタッフとやりとり</h3>
            <p class="feature-item-description">事前にお願いしたいスタイルなどを相談・質問できるのでなりたい自分に近づけます。</p>
      <%#     </li>
        </ul>
      </div><!-- /.container-content -->
    <%# </div>%>
    <%# サイトの特徴 %>
  <%# Footer前 %>
  <section class="trico-last-content">
   <div class="container-inner">
    <h2 class="container-heading-center">掲載をご希望のサロンオーナー様へ</h2>
    <div class="container-content">
      <p class="description">「trico（トリコ）」は美容師・ネイリスト・アイデザイナーなど、プライベートサロン限定の集客アプリです。</p>
      <a href="＃" class="more-button">詳しく見る</a>
    </div>
   </div>
  </section>
  <%# /Footer前 %>

  <%#  <%= render partial: "product", collection: @products%>

    <%#<% if @salon.length == 0 %>
      <%#<li class='list'>
        <%= link_to '#' do %>
       <%# <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <%#<div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
        <%#      <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      <%#</li>
      <%#<% end %>
   <%# </ul>%>
 <div>
  <%= render "user_footer" %>
</div>
  </div>
 </div>

</div>

